{{! sidebar }}
<div class="bg-primary text-white navigasi">
  <h5 class="mt-5" id="dashboardLogo">
    <b>
      MEDANHUB
    </b>
    <br />
    <div class="display-6">
      DASHBOARD
    </div>
  </h5>
  <div class="sidenav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white disabled" href="">
          <b class="itemTitle">
            K E L O L A
          </b>
        </a>
      </li>
      <li class="nav-item navCoba" id="navLaporan">
        <a class="nav-link text-white" aria-current="page" href="laporan">
          Laporan
        </a>
      </li>
      <li class="nav-item navCoba" id="navKategori">
        <a class="nav-link text-white" href="kategori">
          Kategori
        </a>
      </li>
      <li class="nav-item mt-5">
        <a class="nav-link text-white disabled" href="">
          <b>
            U S E R
          </b>
        </a>
      </li>
      <li class="nav-item navCoba" id="navUser">
        <a class="nav-link text-white" href="user">
          Masyarakat
        </a>
      </li>
      <li class="nav-item navCoba" id="navLayanan">
        <a class="nav-link text-white" href="layanan">
          Layanan Publik
        </a>
      </li>
      <li class="nav-item navCoba" id="navAdmin">
        <a class="nav-link text-white" href="admin">
          Admin
        </a>
      </li>
    </ul>
  </div>
  <a
    class="text-light logout"
    href="#logoutModal"
    role="button"
    data-bs-toggle="modal"
    data-bs-target="#logoutModal"
  >
    Keluar
  </a>
</div>