html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.content {
    width: 100%;
}

/* css welcome */

.left {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #219653;
    color: white;
}

.logo {
    color: white;
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 30px 55px 0px 50px;
    line-height: 0.7;
}

.logo strong {
    color: white;
    display: block;
    font-size: 20px;
    text-align: left
}

.welcome {
    display: block;
}

.top-welcome {
    color: white;
    display: block;
    font-size: 48px;
    text-align: left;
    padding: 200px 55px 55px 100px;
    line-height: 1.2;
    font-weight: bold;
}

.bottom-welcome {
    color: white;
    display: block;
    font-size: 20px;
    text-align: left;
    padding: 24px 55px 55px 100px;
    line-height: 1.4;
}

/* css form */

.right {
    float: right;
    width: 50%;
    height: 100%;
}

.form {
    display: block;
    padding: 173px 55px 55px 55px;
}

.masuk {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
}

.email {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#input-email {
    margin-top: 40px;
    height: 64px;
    width: 100%;
    align-content: center;
}

.password {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#input-password {
    margin-top: 16px;
    height: 64px;
    width: 1000%;
    align-content: center;
}

.show-password {
    display: flex;
    justify-content: left;
    margin-top: 16px;
    width: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #666666;
    font-size: 16px;
}

.show-password label{

}

.forgot-password {
    display: block;
    justify-content: right;
    text-align: right;
    margin-top: 8px;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-align: right;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #219653;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-login {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    letter-spacing: 2;
    background: #219653;
    color: white;
    border: none;
}

.button-login:hover{
    cursor: pointer;
}