<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {{title}}
    </title>
    <!--Load bootstrap.css file-->
    <link rel="stylesheet" href="css/bootstrap.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1 class="display-4">
              Hello, World!
            </h1>
            <p class="lead">
              This is MedanHub web admin.
            </p>
            <hr class="my-4" />
            <a class="btn btn-primary btn-lg" href="/login" role="button">
              Continue
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>