@font-face {
    font-family: Inter-Regular;
    src: url('../login/fonts/Inter/static/Inter-Regular.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Inter-Regular;
}

body {
    width: 100%;
}

/* kiri */

.logo {
    color: white;
    display: block;
    font-size: 12px;
    text-align: left;
    padding: 30px 55px 0px 50px;
    line-height: 0.7;
    width: 80%;
    margin: 0 10% 0 10%;
}

.logo strong {
    color: white;
    display: block;
    font-size: 20px;
    text-align: left
}

.menu {
    float: left;
    width: 20%;
    background: #219653;
    height: 100%;
    color: white;
}

.navigasi {
    width: 100%;
}

ul {
    padding-top: 200px;
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li:hover {
    background: #41be78;
    width: 100%;
    height: auto;
}

li {
    margin-top: 16px;
    width: 100%;
    height: auto;
    display: block;
}

.nav-kelola {
    letter-spacing: 4px;
    font-weight: bold;
}

/* kanan */

.main {
    float: right;
    width: 80%;
}

.header {
    height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.profil {
    display: block;
    padding-top: 16px;
    width: 96%;
    text-align: right;
    font-weight: bold;
}

/* .table-name {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.table {
    padding-top: 20px;
    width: 100%;
    display: table;
}

.head-row {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}

.head-row-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.table-body {
    display: table-row-group;
}

.table-body-row {
    display: table-row;
}

.table-body-cell {
    display: table-column;
} */

/* table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 10% 0 10%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
} */

.table-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 36px;
}

.divTable {
    display: table;
    width: 100%;
    padding-top: 36px;
    margin: 0 5% 0 5%;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    background: #e5e5e5;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}